/**
* Ionic Full App  (https://store.enappd.com/product/ionic-full-app-ionic-4-full-app)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/

.zero-h {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}
.animate-expand {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
.menu-label{
  align-items: center;
  display: flex;
  ion-icon{
    padding-left: 10px;
  }
}
.left-menu {
  .disabled{
    ion-icon{
      color: gray;
    }
    ion-label{
      color: gray;
    }
  }
  ion-icon {
    color: #222;
  }
  .enappd-header {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    .logo {
      width: 100px;
    }
    .title {
      color: white;
      font-weight: bold;
      font-size: 28px;
    }
  }
  .upcoming {
    ion-label {
      color: #666;
    }

    ion-icon {
      color: #666;
    }
  }
  ion-content {
    --ion-background-color: #f8f8f8;
  }
  .version {
    margin: 0px 0px 0px 10px;
    color: #989aa2;
    font-size: 14px;
  }
  .config {
    margin: 5px 0px 0px 10px;
    color: #989aa2;
    font-size: 14px;
  }
  .option_menu-button {
    height: 45px;
    ion-label {
      height: 45px;
      margin: 0;
      margin-left: 10px;
      line-height: 42px;
    }
    ion-icon {
      height: 45px;
      margin: 0;
      line-height: 42px;
    }
  }
  .copyright {
    margin: 5px 0px 0px 10px;
    color: #989aa2;
    font-size: 14px;
  }
  ion-header {
    --background: linear-gradient(to right, #008ff5 14%, #57b1f1 96%);
  }
  ion-toolbar {
    --background: linear-gradient(to right, #008ff5 14%, #57b1f1 96%);
  }
  ion-title {
    color: white;
  }
  .list-padd {
    padding-top: 8px;
  }
}

// PROFILE -- Sidemenu Layout 1 styling START
.sidemenu-1 {
  .contentBg {
    --background: #f8f8f8 !important;
    ion-list {
      padding-left: 28px;
      ion-icon {
        color: #999;
        &.active {
          color: #3c8af7;
        }
      }
      ion-label {
        padding-left: 20px;
        letter-spacing: 2px;
        &.active {
          font-weight: bold;
        }
      }
    }
    .driverCard {
      position: relative;
      width: 100%;
      padding-bottom: 5%;
      box-shadow: none;
      border-radius: 0;
      padding-top: 10%;
      background: linear-gradient(45deg, #3c8af7 47%, #7e0080);
      --background: linear-gradient(45deg, #3c8af7 47%, #7e0080);
      ion-item {
        padding: 15px 26px;
        padding-bottom: 0;
        background: rgba(0, 0, 0, 0);
        --background: rgba(0, 0, 0, 0);
        .driverProfileImage {
          display: flex;
          align-items: center;
          width: 100%;
          justify-content: center;
          ion-avatar {
            width: 60px;
            height: 60px;
            margin: 0;
            border: 2px solid #fff;
          }
          .userDetails {
            background: #fff;
            border-radius: 90px;
            display: flex;
            padding-left: 6px;
            padding-right: 6px;
            align-items: center;
            height: 1.8em;
            padding-bottom: 0;
            color: #ff4646;
            font-size: 11px;
          }
          .userName {
            letter-spacing: 1px;
            margin-bottom: 10px;
            color: white;
          }
        }
      }
    }
    .cardContent {
      display: flex;
      justify-content: space-around;
      border-radius: 6px;
      padding: 3%;

      .driverDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .driverStatusIcons {
        font-size: 26px;
        color: #f3e046;
      }
      .detailText {
        color: white;
        font-size: 10px;
      }
      .detailsLabel {
        font-size: 18px;
      }
    }
  }
}

// Sidemenu Layout 1 styling END

// SMALL GRID -- Sidemenu Layout 2 styling START

.sidemenu-2 {
  --width: 120px;
  --max-width: 120px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .profile-block {
      background: #538090;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 150px;
      width: 100%;
      .profile-image {
        img {
          max-width: 90px;
          max-height: 90px;
          border-radius: 90px;
          border: 1px solid #eee;
        }
      }
    }
    .menu {
      background: linear-gradient(rgb(109, 165, 180), rgb(74, 106, 124));
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      width: 100%;
      .menu-item {
        height: 90px;
        width: 90px;
        margin-bottom: 25px;
        .block {
          background: rgb(85, 122, 144);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: inset 2px rgba(0, 0, 0, 0.1);
          &.active {
            background: rgb(162, 212, 224);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border: none;
          }
          .icon {
            ion-icon {
              color: #eee;
              font-size: 42px;
              &.active {
                color: rgb(85, 122, 144);
                font-size: 42px;
              }
            }
          }
          .text {
            color: white;
            font-size: 14px;
            padding-bottom: 5px;
            &.active {
              color: rgb(85, 122, 144);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// Sidemenu Layout 2 styling END

// FULL SCREEN -- Sidemenu Layout 3 styling START
.sidemenu-3 {
  --width: 100vw;
  max-width: 100vw;
  .close-button {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    ion-icon {
      font-size: 45px;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background: #64bff8;
    position: relative;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 3;
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 4;
      .menu-item {
        height: 60px;
        font-size: 32px;
        padding: 3px 10px 15px 15px;
        color: white;
        width: 100%;
        &.active {
          border-top: inset 1px #73bff5;
          border-bottom: inset 1px #8dc6ef;
          border-left: inset 1px #73bff5;
          border-top-left-radius: 10px;
          background: #5ab6f7;
        }
      }
    }
  }
}

// Sidemenu Layout 3 styling END

// SMALL GRID 2 -- Sidemenu Layout 4 styling START

.sidemenu-4 {
  --width: 100px;
  --max-width: 100px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .menu-item {
        height: 100px;
        width: 100px;
        .block {
          background: rgb(59, 52, 60);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-bottom: inset 2px rgba(255, 255, 255, 0.1);
          &.active {
            background: rgb(187, 37, 47);
            border: none;
          }
          .icon {
            ion-icon {
              color: #eee;
              font-size: 36px;
            }
          }
          .text {
            color: white;
            font-size: 12px;
            padding-bottom: 5px;
            &.active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// Sidemenu Layout 4 styling END

// OVERLAY -- Sidemenu Layout 5 styling START

@media screen and (max-width: 767px) {
  .sidemenu-5 {
    --width: 82vw;
    --max-width: 82vw;
  }
}

.sidemenu-5 {
  .content {
    height: 100%;
    width: 100%;
    background-image: url("../assets/sidemenu.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
  }
  .content-on-top {
    height: 100vh;
    width: 82vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    ion-list {
      padding-left: 50px;
      background: transparent;
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-bottom: 0;
      ion-icon {
        color: #aaa;
        &.active {
          color: #fff;
        }
      }
      ion-label {
        padding-left: 20px;
        letter-spacing: 2px;
        color: #aaa;
        &.active {
          font-weight: bold;
          color: #fff;
        }
      }
      ion-item {
        background: transparent;
        --background: transparent;
      }
    }
    .driverCard {
      position: relative;
      width: 100%;
      padding-bottom: 5%;
      box-shadow: none;
      border-radius: 0;
      padding-top: 10%;
      background: transparent;
      ion-item {
        padding: 15px 26px;
        padding-bottom: 0;
        background: transparent;
        --background: transparent;
        .driverProfileImage {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          ion-avatar {
            width: 60px;
            height: 60px;
            margin: 0;
            border: 2px solid #fff;
          }
          .userDetails {
            background: #fff;
            border-radius: 90px;
            display: flex;
            padding-left: 6px;
            padding-right: 6px;
            align-items: center;
            height: 1.8em;
            padding-bottom: 0;
            color: #ff4646;
            font-size: 11px;
          }
          .userName {
            letter-spacing: 1px;
            margin-bottom: 10px;
            color: white;
          }
        }
      }
    }
    .cardContent {
      display: flex;
      border-radius: 6px;
      padding: 3%;

      .driverDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
      }
      .driverStatusIcons {
        font-size: 26px;
        color: #f3e046;
      }
      .detailText {
        color: white;
        font-size: 10px;
      }
      .detailsLabel {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .content-on-top {
    width: 100% !important;
  }
}
// Sidemenu Layout 5 styling END

// CIRCULAR --Sidemenu Layout 6 styling START

@media screen and (max-width: 767px) {
  .sidemenu-6 {
    --width: 100vw;
    --max-width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .sidemenu-6 {
    --width: 35vw;
    --max-width: 35vw;
  }
}

.sidemenu-6 {
  .content {
    width: 100%;
    height: 100%;
  }
  .inner-circle {
    position: absolute;
    height: 80vh;
    width: 80vh;
    left: -60vh;
    top: 10vh;
    border: 60px solid rgba(255, 0, 73, 1);
    border-radius: 50%;
    z-index: 10;
    ion-menu-toggle {
      position: absolute;
      right: 3vh;
      top: 27vh;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid;
      color: #999;
      ion-icon {
        font-size: 48px;
      }
    }
  }
  .outer-circle {
    position: absolute;
    height: 96vh;
    width: 96vh;
    left: -68vh;
    top: 2vh;
    border: 2px solid rgba(255, 0, 73, 1);
    border-radius: 50%;
    .menu-item {
      position: absolute;
      display: flex;
      width: 200px;
      .icon {
        width: 60px;
        height: 60px;
        background: rgb(255, 234, 235);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        &.active {
          background: #ff0049;
        }
        ion-icon {
          font-size: 24px;
          color: #ff0049;
          &.active {
            color: rgb(255, 234, 235);
          }
        }
      }
      .title {
        height: 60px;
        line-height: 55px;
        padding-left: 3vh;
        font-size: 20px;
        &.active {
          color: #ff0049;
        }
      }
    }
    .menu-item-0 {
      right: 4vh;
      top: 4vh;
    }
    .menu-item-0 {
      right: -6vh;
      top: 4vh;
    }
    .menu-item-1 {
      right: -17vh;
      top: 15vh;
    }
    .menu-item-2 {
      right: -23vh;
      top: 28vh;
    }
    .menu-item-3 {
      right: -25vh;
      top: 43vh;
    }
    .menu-item-4 {
      right: -23vh;
      top: 57vh;
    }
    .menu-item-5 {
      right: -17vh;
      top: 71vh;
    }
    .menu-item-6 {
      right: -6vh;
      top: 82vh;
    }
  }
}

// Sidemenu Layout 6 styling END
