<ion-app>
  <ion-split-pane>
    <ion-menu side="start" type="overlay" class="left-menu">
      <ion-header class="head">
        <div class="enappd-header">
          <div class="logo">
            <img src="assets/logo-ionic-white.png" />
          </div>
          <div class="title">Ionic 4 Full App</div>
        </div>
      </ion-header>
      <ion-content class="app-back" scroll-y="true">
        <ion-list no-padding class="list-padd" no-margin>
          <ion-list-header>
            <ion-label>Beginner Features</ion-label>
          </ion-list-header>
          <div *ngFor="let p of beginner">
            <div *ngIf="p.children && !p.module">
              <ion-item detail (click)="expandMenu(p.title)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
              <div class="zero-h" [ngClass]="{'animate-expand': (showChildren == p.title)}">
                <ion-menu-toggle auto-hide="false" *ngFor="let option of p.children">
                  <ion-item padding-start detail [ngClass]="{'disabled':option.disabled}"
                  (click)="redirectPage(option.url, option.disabled)">
                    <ion-icon slot="start" [name]="option.icon"></ion-icon>
                    <ion-label>
                      {{ option.title }}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </div>
            <div *ngIf="p.children && p.module=='sidemenu'">
              <ion-item detail (click)="expandMenu(p.title)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
              <div *ngIf="showChildren == p.title">
                <div class="option_menu-button" *ngFor="let option of p.children;let i = index">
                  <ion-menu-button autoHide="false" menu="end">
                    <ion-item (click)="showSidemenu(i)" padding-start [routerLink]="[option.url]" detail>
                      <ion-icon slot="start" [name]="option.icon"></ion-icon>
                      <ion-label>
                        {{ option.title }}
                      </ion-label>
                    </ion-item>
                  </ion-menu-button>
                </div>
              </div>
            </div>
            <div *ngIf="!p.children">
              <ion-menu-toggle auto-hide="false">
                <ion-item [routerLink]="[p.url]" detail>
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{ p.title }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </div>
          </div>
        </ion-list>
        <ion-list no-padding class="list-padd" no-margin>
            <ion-list-header>
              <ion-label>Startup Features</ion-label>
            </ion-list-header>
            <div *ngFor="let p of startup">
              <div *ngIf="p.children && !p.module">
                <ion-item detail (click)="expandMenu(p.title)">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{ p.title }}
                  </ion-label>
                </ion-item>
                <div class="zero-h" [ngClass]="{'animate-expand': (showChildren == p.title)}">
                  <ion-menu-toggle auto-hide="false" *ngFor="let option of p.children">
                    <ion-item padding-start detail [ngClass]="{'disabled':option.disabled}"
                    (click)="redirectPage(option.url, option.disabled)">
                      <ion-icon slot="start" [name]="option.icon"></ion-icon>
                      <ion-label>
                        {{ option.title }}
                      </ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                </div>
              </div>
              <div *ngIf="p.children && p.module=='sidemenu'">
                <ion-item detail (click)="expandMenu(p.title)">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{ p.title }}
                  </ion-label>
                </ion-item>
                <div *ngIf="showChildren == p.title">
                  <div class="option_menu-button" *ngFor="let option of p.children;let i = index">
                    <ion-menu-button autoHide="false" menu="end">
                      <ion-item (click)="showSidemenu(i)" padding-start [routerLink]="[option.url]" detail>
                        <ion-icon slot="start" [name]="option.icon"></ion-icon>
                        <ion-label>
                          {{ option.title }}
                        </ion-label>
                      </ion-item>
                    </ion-menu-button>
                  </div>
                </div>
              </div>
              <div *ngIf="!p.children">
                <ion-menu-toggle auto-hide="false">
                  <ion-item [routerLink]="[p.url]" detail>
                    <ion-icon slot="start" [name]="p.icon"></ion-icon>
                    <ion-label>
                      {{ p.title }}
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </div>
          </ion-list>
        <ion-list no-padding class="list-padd" no-margin>
          <ion-list-header>
            <ion-label>Pro Features</ion-label>
          </ion-list-header>
          <div *ngFor="let p of pro" >
            <div *ngIf="p.children && !p.module">
              <ion-item detail (click)="expandMenu(p.title)">
                <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <ion-label>
                  {{ p.title }}
                </ion-label>
              </ion-item>
              <div *ngIf="showChildren == p.title">
                <ion-menu-toggle class="ion-menu-toggle" auto-hide="false" *ngFor="let option of p.children">
                  <ion-item padding-start detail [ngClass]="{'disabled':option.disabled}"
                  (click)="redirectPage(option.url, option.disabled)">
                    <ion-icon slot="start" [name]="option.icon"></ion-icon>
                    <ion-label class="menu-label">
                      {{ option.title }} <ion-icon *ngIf="option.device" name="phone-portrait" color="primary"></ion-icon>
                       <ion-icon *ngIf="option.apple" name="logo-apple" color="primary"></ion-icon>
                    </ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </div>
            <div *ngIf="!p.children">
              <div auto-hide="false">
                <ion-item detail [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{ p.title }}
                  </ion-label>
                </ion-item>
              </div>
            </div>
          </div>
        </ion-list>
        <ion-item detail (click)="logout()" margin-top>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
        <p class="version">Version 1.0 | &copy; Enappd 2019</p>
        <hr style="background: #f4f4f4" />
      </ion-content>
    </ion-menu>

    <!-- Profile -->
    <ion-menu class="sidemenu-1" *ngIf="sidemenu==5" side="end" type="overlay">
      <ion-content class="contentBg">
        <div>
          <ion-card no-padding no-margin slot="fixed" class="driverCard fixed" color="primary">
            <ion-item lines="none" padding-vertical>
              <div class="driverProfileImage">
                <ion-avatar slot="start" class="profile">
                  <img src="../../../../assets/map/driver.jpeg">
                </ion-avatar>
                <div margin-start>
                  <h3 class="userName" no-margin>John Doe</h3>
                  <span class="userDetails">
                    <ion-icon name="star"></ion-icon>Premium Member
                  </span>
                </div>
              </div>
            </ion-item>

            <ion-card-content no-margin no-padding>
              <div class="cardContent">
                <div class="driverDetails">
                  <ion-icon name="time" class="driverStatusIcons"></ion-icon>
                  <ion-label class="textColor textBold detailsLabel">10.2</ion-label>
                  <p text-uppercase class="detailText ">Hours Online</p>
                </div>
                <div class="driverDetails">
                  <ion-icon name="speedometer" class="driverStatusIcons"></ion-icon>
                  <ion-label text-uppercase class="textColor textBold detailsLabel">30 KM</ion-label>
                  <p text-uppercase class="detailText">Total Distance</p>
                </div>
                <div class="driverDetails">
                  <ion-icon name="time" class="driverStatusIcons"></ion-icon>
                  <ion-label class="textColor textBold detailsLabel">20</ion-label>
                  <p text-uppercase class="detailText">Total Jobs</p>
                </div>
              </div>

            </ion-card-content>
          </ion-card>
        </div>
        <ion-list lines="none" padding-top>
          <ion-menu-toggle auto-hide="false" *ngFor="let item of sidemenuLayout1">
            <ion-item>
              <ion-icon slot="start" [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
              <ion-label [ngClass]="{'active':item.active}">
                {{item.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Small Grid -->
    <ion-menu class="sidemenu-2" *ngIf="sidemenu==2" side="end" type="overlay">
      <ion-content>
        <div class="content">
          <div class="profile-block">
            <div class="profile-image">
              <img src="../assets/chat/chat/chat1.jpg" />
            </div>
            <ion-text color="light">Jane Braun</ion-text>
          </div>
          <div class="menu">
            <div class="menu-item" *ngFor="let item of sidemenuLayout1">
              <div class="block" [ngClass]="{'active':item.active}">
                <div class="icon">
                  <ion-icon slot="start" [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
                </div>
                <div class="text" [ngClass]="{'active':item.active}">
                  {{item.title}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <!-- Full Screen -->
    <ion-menu class="sidemenu-3" *ngIf="sidemenu==3" side="end" type="overlay">

      <ion-content>
        <div class="close-button">
          <ion-menu-toggle menu="end">
            <ion-icon name="close" color="light"></ion-icon>
          </ion-menu-toggle>
        </div>
        <div class="content">
          <div class="left">
            <div class="icon-div">
              <img src="../assets/map/Google-Car.png" />
            </div>
          </div>
          <div class="right">
            <div class="menu-item" *ngFor="let item of sidemenuLayout1" [ngClass]="{'active':item.active}">
              {{item.title}}
            </div>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <!-- Small Grid 2 -->
    <ion-menu class="sidemenu-4" *ngIf="sidemenu==4" side="end" type="overlay">
      <ion-content>
        <div class="content">
          <div class="menu">
            <div class="menu-item" *ngFor="let item of sidemenuLayout1">
              <div class="block" [ngClass]="{'active':item.active}">
                <div class="icon">
                  <ion-icon slot="start" [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
                </div>
                <div class="text" [ngClass]="{'active':item.active}">
                  {{item.title}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-menu>
    <!-- Overlay -->
    <ion-menu class="sidemenu-5" *ngIf="sidemenu==1" side="end" type="overlay">
      <ion-content>
        <div class="content">
        </div>
        <div class="content-on-top">
          <ion-card no-padding no-margin slot="fixed" class="driverCard fixed" color="primary">
            <ion-item lines="none" padding-vertical>
              <div class="driverProfileImage">
                <ion-avatar slot="start" class="profile">
                  <img src="../../../../assets/map/driver.jpeg">
                </ion-avatar>
                <div>
                  <h3 class="userName" no-margin>John Doe</h3>
                </div>
              </div>
            </ion-item>

            <ion-card-content no-margin no-padding>
              <div class="cardContent">
                <div class="driverDetails">
                  <ion-label class="textColor textBold detailsLabel">15</ion-label>
                  <p text-uppercase class="detailText ">Posts</p>
                </div>
                <div class="driverDetails">
                  <ion-label text-uppercase class="textColor textBold detailsLabel">3000</ion-label>
                  <p text-uppercase class="detailText">Followers</p>
                </div>
                <div class="driverDetails">
                  <ion-label class="textColor textBold detailsLabel">200</ion-label>
                  <p text-uppercase class="detailText">Following</p>
                </div>
              </div>

            </ion-card-content>
          </ion-card>
          <ion-list lines="none" padding-top>
            <ion-menu-toggle auto-hide="false" *ngFor="let item of sidemenuLayout1">
              <ion-item>
                <ion-icon slot="start" [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
                <ion-label [ngClass]="{'active':item.active}">
                  {{item.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>

      </ion-content>
    </ion-menu>
    <!-- Circular -->
    <ion-menu class="sidemenu-6" *ngIf="sidemenu==6" side="end" type="overlay">
      <ion-content>
        <div class="content">
          <div class="inner-circle">
            <ion-menu-toggle menu="end">
              <ion-icon name="close"></ion-icon>
            </ion-menu-toggle>
          </div>
          <div class="outer-circle">
            <div class="menu-item menu-item-{{i}}" *ngFor="let item of sidemenuLayout1;let i =index;">
              <div class="icon" [ngClass]="{'active':item.active}">
                <ion-icon [name]="item.icon" [ngClass]="{'active':item.active}"></ion-icon>
              </div>
              <div class="title" [ngClass]="{'active':item.active}">{{item.title}}</div>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>