
<ion-searchbar showCancelButton="false" (ionInput)="getProcedures($event)"></ion-searchbar>
<a href="/insta-tabs/notification">Navigate </a>

<div *ngFor="let item of proceduresList">
  <ion-list *ngIf="proceduresList">
      <ion-item  href="/tabs/tab1/procedure-list" no-lines>
        {{ item.name }}
      </ion-item>
    </ion-list>

</div> 
