<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="start" color="light" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Instagram Layout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-instagram></app-instagram> -->
  <app-procedures></app-procedures>
</ion-content>